<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key="SmtpServer" value="smtp.sendgrid.net" />
      <add key="SmtpAccount" value="azure_8258621a24d8d371e620e65abd0cd103@azure.com" />
      <add key="SmtpPassword" value="I9IRxMbDEP" />
      <add key="MailSender" value="dorts-test@miniasp.com" />
    </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>